.grid {
    margin-left: -$gutter;
    font-size: 0;
    
    @media only screen and (min-width: $middleweight) {
        margin-left: -($gutter * 2);
    }
    
    .no-mediaqueries & {
        margin-left: -($gutter * 2);
    }
    
    .grid__item {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        font-size: 10px;
        
        &.one-half--welterweight {
            
            @media only screen and (min-width: $welterweight) {
                width: 50%;    
            }
            
            .no-mediaqueries & {
                width: 50%;
            }
            
        }
        
        &.one-third--middleweight {
            
            @media only screen and (min-width: $middleweight) {
                width: 33.333%;    
            }
            
            .no-mediaqueries & {
                width: 33.333%;
            }
            
        }
        
        &.one-quarter--heavyweight {
            
            @media only screen and (min-width: $heavyweight) {
                width: 25%;    
            }
            
        }
        
        &.one-quarter--welterweight {
            
            @media only screen and (min-width: $welterweight) {
                width: 25%;    
            }
            
            .no-mediaqueries & {
                width: 25%;
            }
            
        }
        
        &.one-third--welterweight {
            
            @media only screen and (min-width: $welterweight) {
                width: 33.333%;    
            }
            
            .no-mediaqueries & {
                width: 33.333%;
            }
            
        }
        
        &.one-fifth--middleweight {
            
            @media only screen and (min-width: $middleweight) {
                width: 20%;    
            }
            
            .no-mediaqueries & {
                width: 20%;
            }
            
        }
        
        &.one-sixth--middleweight {
            
            @media only screen and (min-width: $middleweight) {
                width: 16.66666666666667%;    
            }
            
            .no-mediaqueries & {
                width: 16.66666666666667%;
            }
            
        }
        
        .grid__item__gutter {
            padding-left: $gutter;
            
            &.pb-20--welterweight{
                
                @media only screen and (max-width: $welterweight - 1) {
                    padding-bottom: 20px;
                }
                
            }
            
            @media only screen and (min-width: $middleweight) {
                padding-left: $gutter * 2;
            }
            
            .no-mediaqueries & {
                padding-left: $gutter * 2;
            }
            
        }
        
    }
    
}